body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background: url('../img/background-img.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

.body-logo
{
    max-height: 250px;
}