body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background: url('../img/background-img.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.body-logo {
    max-height: 250px;
}

.uninteractable {
    pointer-events: none;
    opacity: 0.4 !important;  
}

.main-content
{
    background-color: rgba(8, 7, 11, 0.9);
    border-radius: 20px;
}


/* Searchable dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    opacity: 80%;
    color: rgb(184, 135, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
   
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    max-height: 250px; /* Set the max height */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

/* Picture and text for the skin */
.skin-container {
    text-align: center;
    padding: 20px;
}

.skin-image-container {
    width: 730px;
    height: 440px;
    border: 3px solid #1e2a44;
    border-radius: 10px;
    display: inline-block;
}

#skinImg {
    border-radius: 10px;
}

.skin-image-container img {
    width: 100%;
    height: auto;
}

.skin-text-container {
    margin-top: 10px;
}

.skin-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.skin-text-container .description {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}