@import url('img/Logo_Transparent.png');
body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background: url('https://i.pinimg.com/originals/d0/2b/e3/d02be356652735de40a665b84a6bd75e.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

.body-logo
{
    max-height: 250px;
}